.card-container {
    display: flex;
    justify-content: center;
    padding: 3%;
}

.card {
    background-color:cornflowerblue;
    border: 2px solid white;
    color: white;
    border-radius: 10%;
    padding: 10px;
    font-size: 20px;
}