.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
    margin: 1%;
    cursor: pointer;
}

.cardData {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8rem;
}

.card {
    background-color:white;
    color: cornflowerblue;
}

.cardName {
    font-size: 1.8rem;
    font-family: 'Itim', cursive;
}

.cardPicture {
    height: 9rem;
}


